@font-face {
    font-family: gotika;
    src: url("fonts/GotikaOrnament_PERSONAL_USE_ONLY.otf")
}
@font-face {
    font-family: deutsch;
    src: url("fonts/Deutsch.ttf")
}

@font-face {
    font-family: beyond;
    src: url("fonts/Deutsch.ttf")
}

